@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  :focus, :active {
    outline: none; }
  
  a:focus, a:active {
    outline: none; }
  
  nav, footer, header, aside {
    display: block; }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; 
    overflow-x:hidden;}
  
  input, button, textarea {
    font-family: inherit; }
  
  input::-ms-clear {
    display: none; }
  
  button {
    cursor: pointer; }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  li {
    list-style: none;
    list-style-type: none;
    text-decoration: none; }
  
  img {
    vertical-align: top; }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit; }
  
body{
  font-family: Lato;
}
    /* Первый блок intro */
.intro{
  background: url(img/logo/BG.png);
  background-position: center;
  background-size:cover;
}
.intro__body{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}
.intro__logo{
  display: block;
  width: 195px;
  height: 123px;
  padding: 160px 0px 300px 0px;
  margin: 0 auto;
}
.intro__title{
  color: #fff;
  font-size: 30px;
  font-weight: 710;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  padding: 0px 0px 40px 0px; }
  .intro__title p{
    font-size: 23px;
    font-weight: 400;
    text-transform: lowercase;
    letter-spacing: 3px;
    padding-top: 10px;
  }
  .intro__title:after{
    content: '';
    position: absolute;
    width: 90px;
    bottom: 0;
    height: 2px;
    left: 50%;
    background-color: #fff;
    margin: 0px 0px 0px -45px; 
  }  
.intro__button{
  display: -webkit-flex;
  display: flex;
  margin: 227px auto 70px auto;
  height: 47px;
  width: 182px;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.95px;}
  .intro__button button{
  height: 47px;
  width: 182px;
  background-color: transparent;
  color: #fff;
  } 

.arrow-img{
  display: block;
  height: 10px;
  width: 17px;
  margin: 0px auto 150px auto; 
}
 /* Блок nav с menu внутри */
.nav{
  border-bottom: 1px solid whitesmoke;
}
 /* Общий класс Menu */
.menu{
  display: -webkit-flex;
  display: flex;
   max-width: 460px;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;}
   .menu a{
    color: rgb(110, 108, 108);
    text-decoration: none;
}
.menu_item{
  display: -webkit-flex;
  display: flex;
  width: 80px;
  height: 50px;
  font-size: 15px;
  font-weight: 510;
  align-items: center;
  justify-content: center;}
  .active{
    color: #ada074;
  }
 /* Блок about */
.about__body{
    max-width: 823px;
    margin: 0 auto;
}
.about__header {
  margin: 0px 0px 65px 0px; 
}
.about__title{
    margin: 130px 0px 30px 0px;
}
.about__text{
    max-width: 688px;
    color: #868585;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 25.89px;
    margin: 0px auto;
}
.about__row{
  display: -webkit-flex;
    display: flex;
    font-size: 0;
    margin: 0px -15px 90px 0px;
    flex-flow: row wrap;
}
.about__column{
    padding: 0px 20px;
    width: 33%;
}
 /* Общий класс title */
.title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
    padding: 0px 0px 30px 0px; }
    .title:after {
      content: '';
      position: absolute;
      width: 80px;
      bottom: 0;
      height: 1px;
      left: 50%;
      background-color: #000;
      margin: 0px 0px 0px -40px; 
    }

.item-about__icon{
  display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    width: 92px;
    height: 92px;
    margin: 0px auto 40px auto;
}
.item-about__title{
    text-align: center;
    color:#000000;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3.52px;
    margin: 0px 0px 30px 0px;
}
.item-about__text {
    text-align: center;
    color: #868585;
    line-height: 26px;
    font-weight: 300;
    font-size: 14px; 
  }
  /* <---------> */
.portfolio{
  background-color: #f3f3f3;
}
.portfolio__title{
  padding: 80px 0px 30px 0px;
}
.portfolio__menu{
  max-width: fit-content;
  padding: 20px 0px 100px 0px;
}  
.portfolio__body{
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}
.portfolio__content{
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}
.portfolio__column{
  display: flex;
  flex-direction: column;

}
.portfolio__item{
  height: 320px;
  width: 500px;
  margin: 18px 18px 18px 18px;
  background-color: #eaeaea;
  justify-content: center;
}
.portfolio__item img{
  width: 50%;
  height: 50%;
}
@media (max-width:1085px){
  .portfolio__content{
    flex-direction: column;
    align-items: center;
  }
}
.portfolio__button{
  display: -webkit-flex;
  display: flex;
  margin: 30px auto 48px auto;
  height: 47px;
  width: 182px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.95px;}
  .portfolio__button button{
  height: 47px;
  width: 182px;
  background-color: transparent;
  color: black;
  } 