.zaglav{
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5%;
  width: auto;
}
.txt1-1{
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
}
.txt1-2{
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
}
.txt1-3{
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
}
.txt2-1{
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
  font-size: 14px;
}
.txt2-2{
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
  font-size: 14px;
}
.txt2-3{
  color: #808080;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
  font-size: 14px;
}
.txt3-1{
  margin-left: 3vh;
  margin-right: 3vh;
  text-align: center;
  width: auto;
  margin-top: 5vh;
  font-family: 'Montserrat', sans-serif;
}
.txt3-2{
  margin-left: 3vh;
  margin-right: 3vh;
  text-align: center;
  width: auto;
  margin-top: 5vh;
  font-family: 'Montserrat', sans-serif;
}
.txt3-3{
  margin-left: 3vh;
  margin-right: 3vh;
  text-align: center;
  width: auto;
  margin-top: 5vh;
  font-family: 'Montserrat', sans-serif;
}
.seredina{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: auto;
}
.left{
  width: 40%;
  height: 60vh;
  margin-top: 3%;
  margin-left: 5%;
  border-radius: 15px;
}
.left:hover {
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow:0 4px 17px rgba(0,0,0,0.25);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.center{
  width: 40%;
  height: 60vh;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  border-radius: 15px;
}
.center:hover {
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow:0 4px 17px rgba(0,0,0,0.25);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.right{
  width: 40%;
  height: 60vh;
  margin-left: 1%;
  margin-top: 3%;
  margin-right: 5%;
  border-radius: 15px;
}
.right:hover {
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow:0 4px 17px rgba(0,0,0,0.25);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.center-pic1{
   pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  display:block;
  margin:auto;
}
.center-pic2{
  pointer-events: none;
 -ms-user-select: none;
 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
  display:block;
  margin:auto;
}
.center-pic3{
  pointer-events: none;
 -ms-user-select: none;
 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
  display:block;
  margin:auto;
}
content{
   display: flex;
}
